*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

/build.gradle
/gradle.properties
/gradle/*
/gradlew
/gradlew.bat
/settings.gradle
/.idea/*
/app/app.imp
/app/build/*
/app/build.gradle
/proguard-rules.pro
